// 공통설정
.v-float-box {
	display: none;
	position: absolute;
	left: 10px;
	bottom: 10px;
	right: 10px;
	pointer-events: none;
	@include if-show;
}
.v-float-info {
	overflow: hidden;
	border-radius: 6px;
	margin-bottom: 10px;
	pointer-events: auto;
	@include box-shadow;
	@include if-hide;
}
.v-float-toggle {
	display: inline-flex;
	align-items: center;
	padding: 10px;
	border-radius: 6px;
	background-color: #fff;
	font-weight: 500;
	user-select: none;
	cursor: pointer;
	pointer-events: auto;
	@include box-shadow;
	i {
		font-size: 20px;
		margin-left: 10px;
		color: #999;
	}
	&.hide i:before {
		color: #000;
		content: '\f077';
	}
}

// 20대 총선 결과
// 20대 총선 정당 색상정보 테이블
.v-last-party-info {
	$border: 1px solid #e7e7e7;
	max-width: 100%;
	background-color: #fff;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 0;
	border-top: $border;
	border-left: $border;
	thead {
		text-align: center;
	}
	th,
	td {
		padding: 5px;
		border-bottom: $border;
		border-right: $border;
	}
	tbody {
		tr {
			td:first-child {
				border-left-width: 16px;
				border-left-style: solid;
			}
		}
	}
	.party-new-nuri {
		td:first-child {
			border-left-color: #c9252b;
		}
	}
	.party-with-demo {
		td:first-child {
			border-left-color: #004ea2;
		}
	}
	.party-of-people {
		td:first-child {
			border-left-color: #006241;
		}
	}
	.party-justice {
		td:first-child {
			border-left-color: #ffcc00;
		}
	}
	.party-none {
		td:first-child {
			border-color: #eee;
		}
	}
}
@media (min-width: $breakpoint-xs + 20px) {
	.v-last-party-info {
		min-width: $breakpoint-xs;
	}
}
@media (max-width: $breakpoint-xs + 20px) {
	.v-last-party-info {
		width: 100%;
		thead {
			tr {
				th:first-child {
					width: 95px;
				}
			}
		}
	}
}

// 예비후보자 목록
#v-pre {
	// 테이블
	.v-pre-info {
		max-width: 600px;
	}
	.v-pre-tbl {
		width: 100%;
		table-layout: fixed;
		border-spacing: 0;
		line-height: 1.25;
	}
	.v-pre-tbl-header {
		background-color: rgba(0, 0, 0, 0.7);
		color: #fff;
	}
	.v-pre-tbl-content {
		max-height: 220px;
		overflow-y: auto;
		background-color: #fff;
	}
	table {
		text-align: center;
		td,
		th {
			&:nth-child(1) {
				width: 12%;
			}
			&:nth-child(2) {
				width: 26%;
			}
			&:nth-child(3) {
				width: 10%;
			}
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7) {
				width: 13%;
			}
		}
		th {
			padding: 10px 8px;
			font-weight: 500;
		}
		td {
			a {
				cursor: pointer;
			}
			padding: 5px 8px;
			border-bottom: 1px solid #e7e7e7;
			&:nth-child(1) {
				img {
					width: 100%;
					border-radius: 50%;
				}
			}
			&:nth-child(3) {
				font-weight: 500;
			}
			// &:nth-child(6) {
			// 	padding: 0;
			// }
			button {
				color: black;
				background: none;
				border: none;
				outline: none;
				font-size: 22px;
				padding: 1px 0;
				width: 100%;
				cursor: pointer;
				&:after {
					content: '\002B';
					color: #000;
					font-weight: 600;
				}
				&.show:after {
					color: #999;
					content: '\2212';
				}
			}
		}
		.v-pre-detail-info {
			display: none;
			text-align: left;
			line-height: 1.4;
			background-color: #f1f1f1;
			&.show {
				display: table-row;
			}
			td {
				width: 100%;
				padding-left: 8px;
				padding-right: 8px;
			}
			td > div {
				display: flex;
				align-items: center;
				img {
					display: block;
					width: 110px;
				}
				& > div {
					margin-left: 10px;
				}
			}
		}
		.v-pre-criminal {
			&.no-data {
				font-weight: 300;
				color: #777;
			}
			&.has-data {
				cursor: pointer;
				&:hover {
					font-weight: 500;
				}
			}
		}
	}
}
@media (max-width: $breakpoint-sm) {
	#v-pre {
		table {
			th,
			td {
				padding-left: 6px;
				padding-right: 6px;
				&:nth-child(1) {
					width: 11%;
				}
				&:nth-child(3) {
					width: 7%;
					padding-left: 0;
					padding-right: 0;
				}
				&:nth-child(4) {
					width: 16%;
				}
				// &:nth-child(5),
				// &:nth-child(6),
				// &:nth-child(7) {
				// 	width: 12%;
				// }
			}
		}
	}
}
