// 구역 툴팁
.v-elect-tooltip {
	font-size: 1rem;
	p {
		margin: 0;
	}
}
@media (max-width: $breakpoint-xs) {
	// 모바일 화면에서는 툴팁 안 보이게 수정함
	.v-elect-reg-tooltip {
		display: none;
	}
}

.leaflet-draw-draw-polyline {
	&.on {
		background-color: $theme-default-color;
	}
}

// 내위치찾기 버튼
.v-now-loc {
	$size: 26px;
	width: $size;
	height: $size;
	padding: 0;
	border: 0;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	cursor: pointer !important;
	i {
		font-size: 16px;
		line-height: $size;
	}
	@include is-active(background-color, #f4f4f4);

	// 모바일에서는 아이콘 형태가 다름
	.leaflet-touch & {
		$msize: 34px;
		width: $msize;
		height: $msize;
		border: 2px solid rgba(0, 0, 0, 0.2);
		background-clip: padding-box;
		box-shadow: none;
		i {
			font-size: 18px;
			line-height: $msize - 4px;
		}
	}
}

.v-stn-btn {
	$size: 26px;
	width: $size;
	height: $size;
	padding: 0;
	border: 0;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	cursor: pointer !important;
	.v-stn-img {
		background: url('../img/stn.png') center center no-repeat;
		height: 27px;
		width: 27px;
		background-size: cover;
	}
	@include is-active(background-color, #f4f4f4);

	// 모바일에서는 아이콘 형태가 다름
	.leaflet-touch & {
		$msize: 34px;
		width: $msize;
		height: $msize;
		border: 2px solid rgba(0, 0, 0, 0.2);
		background-clip: padding-box;
		box-shadow: none;
		.v-stn-img {
			margin-left: 2px;
			background: url('../img/stn_bold.png') center center no-repeat;
			background-size: cover;
		}
	}
}

// 지도 hover
.data-layer:hover {
	fill-opacity: 0.3;
}

// attribution
.leaflet-control-attribution {
	display: flex;
	align-items: center;
	a {
		display: flex;
		&:first-child {
			margin-right: 3px;
			text-transform: lowercase;
		}
		img {
			height: 15px;
		}
	}
}

//사전투표소
.v-stn-popup {
	font-size: 1rem;
	ul {
		margin: 0;
		padding: 0;
		padding-left: 20px;
	}
}

.v-stn-menu-tri {
	position: absolute;
	display: inline-block;
	top: 116px;
	left: 30px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 10px 5px 10px;
	border-color: transparent #fff transparent transparent;
	z-index: 9;
}

.v-stn {
	display: none;
	@include if-show;
	&.v-stn-menu {
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		top: 105px;
		left: 50px;
		z-index: 8;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
		li {
			font-size: 1.1rem;
			padding: 6px;
			cursor: pointer;
			&.selected {
				color: #fff;
				background-color: $theme-default-color;
			}
			&:first-child {
				border-bottom: 1px solid #868686;
			}
			&:first-child {
				border-bottom: 1px solid #868686;
			}
		}
	}
}

@media (max-width: $breakpoint-xs) {
	// 모바일 화면
	.v-stn-menu-tri {
		top: 140px;
		left: 36px;
	}
	.v-stn {
		&.v-stn-menu {
			top: 130px;
			left: 55px;
		}
	}
}
